# Configuración de la base de datos
DATABASE_URL=

# Configuración de autenticación JWT
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

# Api key OpenRouter
OPENROUTER_API_KEY=

# Configuración con Spotify
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=

# Api de Genious
TOKEN_GENIUS = 

GENIOUS_CLIENT_ID=
GENIOUS_CLIENT_SECRET=
GENIOUS_CLIENT_ACCESS_TOKEN=

# Configurar la direccion del FrontEnd
FRONTEND_URL=
